<div class="place-tips" data-bind="visible: isVisible()">
  <loading params="isLoading: isLoading()"></loading>
  <ul data-bind="foreach: tips">
    <li class="place-tips__tip">
      <p class="place-tips__tip-meta">
        <span data-bind="text: $data.user.firstName" />
        <span data-bind="text: $data.user.lastName" /> •
        <span data-bind="text: $parent.getCreatedAt($data)" />
      </p>
      <p class="place-tips__tip-text" data-bind="text: $data.text" />
    </li>
  </ul>
  <p
    class="place-tips__no-tips-found"
    data-bind="visible: noTips()">we didn't find any tips for this place :/
  </p>
  <p
    data-bind="visible: !isLoading() && !noTips()"
    class="place-tips__attribution"
  >
    tips by <a href="https://foursquare.com/" target="_blank" data-bind="click: onClickFoursquareLink">FOURSQUARE</a>
  </p>
</div>