{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "rules": {
    "comma-dangle": 0,
    "arrow-body-style": 0,
    "no-unused-expressions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "max-len": [
      2,
      {
        "ignoreComments": true,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "google": true,
    "subject": true
  }
}