{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "rules": {
    "comma-dangle": 0,
    "arrow-body-style": 0,
    "max-len": [
      2,
      {
        "ignoreComments": true,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "google": true
  }
}