.header {
  padding: 1rem;
  display: flex;

  &__menu {
    flex-grow: 0;
    min-width: 1.5rem;
    min-height: 2rem;

    .fa {
      transition: all 0.1s ease-in-out;
      font-size: 1.2rem;
    }

    &:hover {
      .fa {
        font-size: 1.5rem;
      }
    }
  }

  &__title {
    flex-grow: 1;
    text-align: center;
  }

  &__github-link {
    flex-grow: 0;
    text-decoration: none;
  }

  &__github-link, &__menu {
    color: $white;

    &:hover {
      color: inherit;
    }
  }
}