.header {
  display: flex;
  z-index: 1;
  padding: 1rem;
  height: $header-height;

   &__github-link, &__menu-button {
    color: $white;

    &:hover {
      color: inherit;
    }
  }

  &__menu-button {
    min-width: 1.5rem;
    min-height: 2rem;

    .fa {
      transition: all 0.1s ease-in-out;
      font-size: 1.2rem;
    }
  }

  &__title {
    flex-grow: 1;
    text-align: center;
  }

  &__github-link {
    flex-grow: 0;
    text-decoration: none;
  }
}