.place-tips {
  .loading {
    position: static;
    width: 100%;
    margin: auto;
    padding: 1rem;
    height: 4rem;

    .sk-rect {
      background: $dark-gray;
    }
  }

  &__tip {
    padding-top: 1rem;

    > p {
      margin: 0;
    }
  }

  &__tip-meta {
    color: $medium-gray;
    font-size: 0.85rem;
  }

}