.places {
  list-style: none;
  margin-bottom: 1rem;

  &__place {
    padding: 1rem 1rem;
  }

  &__place:not(:last-child) {
    border-bottom: 1px solid darken($light-gray, 8%);
  }

  &__place-details {
    @include clearfix;
  }

  &__place-img {
    width: 227px;
    height: 128px;
    float: left;
  }
}