.places {
  list-style: none;
  margin-bottom: 1rem;

  &__place {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }

  &__place:not(:last-child) {
    border-bottom: 1px solid darken($light-gray, 8%);
  }

  &__place-img {
    width: 160px;
    height: 160px;
  }

  &__place-tips {
    .loading {
      position: static;
      width: 100%;
      margin: auto;
      padding: 1rem;
      height: 4rem;
    }
  }
}