$sidebar-background: $light-gray;
$sidebar-border-color: $dark-gray;

.sidebar {
  transition: all $base-duration $base-timing;
  position: fixed;
  left: 0;
  top: $header-height;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  background: $sidebar-background;
  z-index: 9;
  transform: translateX(-100%);
  color: $dark-gray;
  border-right: 1px solid darken($sidebar-background, 5%);

  &__header {
    padding: 1rem;
    position: relative;
    height: $header-height;
  }

  &__title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
}

@media screen and (min-width: $medium-screen) {
  .sidebar {
    width: 350px;
    transform: translateX(-360px);
  }
}

.sidebar--visible {
  transform: translateX(0px);
}

