.toast {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;

  &__message {
    padding: 1rem;
    margin-bottom: 1rem;
    color: $white;

    &--is-error {
      background: $pink;
    }
  }

  &__message-content {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    max-width: $large-screen;
    margin: 0 auto;

    > p {
      flex-grow: 1;
      margin: 0;
    }
  }
}