.large-screen-only {
  display: none;
}

@media screen and (min-width: $large-screen) {
  .large-screen-only {
    display: initial;
  }
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}
