html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.large-screen-only {
  display: none;
}

@media screen and (min-width: $large-screen) {
  .large-screen-only {
    display: initial;
  }
}

@media screen and (max-width: $small-screen) {
  .hide-on-small-screen {
    display: none;
  }
}

.whole-screen {
  width: 100%;
  height: 100%;
}