@mixin unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin delete {
  @include unselectable;
  background-color: rgba($black, 0.2);
  border: none;
  border-radius: 290486px;
  cursor: pointer;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 1rem;
  height: 20px;
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;
  outline: none;
  position: relative;
  vertical-align: top;
  width: 20px;

  &:before,
  &:after {
    background-color: $white;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center;
  }

  &:before {
    height: 2px;
    width: 50%;
  }

  &:after {
    height: 50%;
    width: 2px;
  }

  &:hover,
  &:focus {
    background-color: rgba($black, 0.3)
  }

  &:active {
    background-color: rgba($black, 0.4)
  }
  // Sizes
  &--is-small {
    @include size(16px);
    max-height: 16px;
    max-width: 16px;
  }

  &--is-medium {
    @include size(24px);
    max-height: 24px;
    max-width: 24px;
  }

  &--is-large {
    @include size(32px);
    max-height: 32px;
    max-width: 32px;
  }
}

@mixin sidebar-aware {
  @media screen and (min-width: $medium-screen) {
    .has-sidebar & {
      margin-left: 350px;
    }
  }
}