<ul class="places" data-bind="foreach: places">
  <li class="places__place" data-bind="click: $parent.onSelect.bind($parent), css: { 'places__place--selected': $parent.isSelected($data) }">
    <div class="places__place-details">
      <div class="places__place-img">
        <img
          data-bind="attr: { src: $parent.getPhoto($data) }"
        />
      </div>
      <p class="places__place-name" data-bind="text: $data.name" />
      <p class="places__place-vicinity" data-bind="text: $data.vicinity" />
      <p class="places__place-type" data-bind="text: $parent.getType($data)" />
      <star-rating class="hide-on-small-screen" params="rating: $data.rating" />

      <div class="places__place-mobile-only-details">
        <a
          class="places__place-viewonmap button button--is-inverted"
          href="#"
          data-bind="click: $parent.showMap.bind($parent)"
        >
          View Map <i class="fa fa-arrow-right" />
        </a>
        <star-rating params="rating: $data.rating" />
      </div>
    </div>

    <place-tips params="visible: $parent.isSelected($data), place: $data" />
  </li>
</ul>