<ul class="places" data-bind="foreach: places">
  <li class="places__place" data-bind="click: function() { $parent.onSelect($data) }, css: { 'places__place--selected': $parent.isSelected($data) }">
    <span data-bind="text: $data.name" />
    <div class="places__place-details" data-bind="visible: $parent.isSelected($data)">
      <img
        class="places__place-img"
        data-bind="attr: { src: $parent.getPhoto($data) }"
      />
      <p data-bind="text: $data.vicinity" />
      <place-tips params="visible: $parent.isSelected($data), place: $data" />
    </div>
  </li>
</ul>